body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh !important;
    background-color: #f4f4f4;
  }
  
  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #b6b5b5;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #ddd;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #b6b5b5;  /* creates padding around scroll thumb */
  }
  
  *{
    box-sizing: border-box;
  }
  
  .user-list {
    flex: 1;
  }
  
  .user-list-scrollable {
    margin-top: 20px;
    height: 300px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
  }
  
  section {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  table {
    
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  thead{
    width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
  }
  
  .user-list-scrollable::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .user-list-scrollable::-webkit-scrollbar-track {
    background: #b6b5b5;        /* color of the tracking area */
  }
  
  .user-list-scrollable::-webkit-scrollbar-thumb {
    background-color: #ddd;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #b6b5b5;  /* creates padding around scroll thumb */
  }
  /* .user-list {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    /* height: 20px; */ /* gives an initial height of 200px to the table */
  /* } */
  /*  .user-list thead th {
    position: sticky; 
    top: 0px; 
  }  */
  
  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    
    background-color: #333;
    color: #fff;
    
  }
  
  
  
  :root {
    --sucesspage-list: url(./assets/images/icon-list.svg);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --tomato: hsl(4, 100%, 67%);
    --white: hsl(0, 0%, 100%);
  }